SEA_LOAD_PORT=8082
EXPO_PUBLIC_API_BASE_URL=/api/v1

POSTGRES_USER=badagil
POSTGRES_PASSWORD=change-me
POSTGRES_DB=badagil

PUBLIC_API_MODE=live
DATA_GO_KR_SERVICE_KEY=
KOMSA_SERVICE_KEY=
INCHEON_PORT_SERVICE_KEY=
VWORLD_API_KEY=
TOURISM_SERVICE_KEY=
WEATHER_SERVICE_KEY=
KHOA_SERVICE_KEY=
ADMIN_SYNC_TOKEN=

LODGINGS_API_URL=
TOURIST_RESTAURANTS_API_URL=
TOURIST_PENSIONS_API_URL=
MUD_FLAT_API_URL=
PHOTO_GALLERY_API_URL=
SHORT_TERM_FORECAST_API_URL=
WEATHER_WARNING_API_URL=
TIDE_FORECAST_API_URL=
WATER_TEMPERATURE_API_URL=
SALINITY_API_URL=

